<div id="wrap">
  <div class="container clear-top" id="main">

    <div class="d-flex align-content-center flex-wrap">
      <div class="p-2">
        <a routerLink="/intelagent-dashboard">
          <img src="assets/img/agent.PNG" width="200" height="200" /><br>
          <div>RegIntel Agent</div>
        </a>
      </div>
      <div class="p-2">
        <a routerLink="/btd-dashboard">
          <img src="assets/img/dashboard.PNG" width="200" height="200" /><br>
          <div>BTD - dashboard</div>
        </a>
      </div>
    </div>
  </div>
</div>