
    <div class="row d-flex flex-row">
            <div class="col-6 col-md-4"><a class="navbar-brand" href="#">
                    <img  class="img-responsive" src="assets/img/login_logo.JPG">
               </a></div>
            <div class="col-1 col-md-8 ">
                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                            <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarTogglerDemo01">
                                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex">
                                      <li class="nav-item active">
                                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" href="/#">Logout</a>
                                      </li>
                                     
                                    </ul>
                                    
                                  </div>
                    
                    </nav>

            </div>
    </div>

